body{
	margin: 0px;
	color: #555555;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

header{
	width: 100%;
	height: 160px;
	background-color: #F6F5F5;
	color: white;
}

/*Logo*/

header .logo{
	width: 20%;
	height: 120px;
	background-color: #F6F5F5;
	float: left;
	margin: 20px;
}

/*Menu*/

header .menu{
	width: 50%;
	height: 120px;
	float: right;
	margin: 20px;
}
 
nav {
	float:right;
	line-height:120px;
}
 
nav a {
	display:inline-block;
	color:#092445;
	font-family: poppins;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
}
 
nav a:hover {
	color: #5CE1E6;
	border-bottom: 4px solid;

}

/*Cuerpo*/

.cuerpo{
	width: 100%;
	height: 1000px;
	background-color: pink;
}

/*Iconos redes sociales*/

header .social{
	width: 20%;
	height: 120px;
	background-color: #F6F5F5;
	float: right;
	margin: 20px;

}
header .social .iconos a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-top: 40px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* Estilos para botones */
.btn{
	text-decoration: none;
	background-color: #092445;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
}

/* Tamaño botones */
.btn-peque{
	font-size: 12px;
}
.btn-grande{
	padding: 5px 12px;
	font-size: 20px;
	border-radius: 4px;
	align-content: left;
}

/* colores para botones */

.btn-primario{
	background-color: #33383b;
	color: white;
}

.btn-primario:hover{
	background-color: black;
	color: white;
}

/*Footer*/

.footer-sfmo{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	height: 350px;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-sfmo .footer-izquierda,
.footer-sfmo .footer-centro,
.footer-sfmo .footer-derecha{
	display: inline-block;
	vertical-align: top;
}

/* Footer Izquierda */

.footer-sfmo .footer-izquierda{
	width: 40%;
}


/* Footer links */

.footer-sfmo .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-sfmo .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-sfmo .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Centro */

.footer-sfmo .footer-centro{
	width: 35%;
}

.footer-sfmo .footer-centro i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-sfmo .footer-centro i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-sfmo .footer-centro p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-sfmo .footer-centro p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-sfmo .footer-centro p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-sfmo .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-sfmo .footer-links .link-1:before {
  content: none;
}

/* Footer Derecha*/

.footer-sfmo .footer-derecha{
	width: 20%;
}

.footer-sfmo .footer-nosotros{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-sfmo .footer-nosotros span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-sfmo .footer-icons{
	margin-top: 25px;
}

.footer-sfmo .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Copywritter */

.footer-sfmo .footer-copywritter{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

/*Estilos de los botones*/

/* Texto */
.texto-centrado{
	text-align: center;
}

/*Grid*/
.contenedor{
	width: 95%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
.fila{
}
.columna-12{
	float: left;
	width: 95%;
	margin-bottom: 5px;
}
.columna-11 {
	float: left;
	width: 91.66666666666666%;
	margin-bottom: 5px;
}
.columna-10 {
	float: left;
	width: 83.33333333333333%;
	margin-bottom: 5px;
}
.columna-9 {
	float: left;
	width: 75%;
	margin-bottom: 5px;
}
.columna-8 {
	float: left;
	width: 66.66666666666666%;
	margin-bottom: 5px;
}
.columna-7 {
	float: left;
	width: 58.3333333333333%;
	margin-bottom: 5px;
}
.columna-6 {
	float: left;
	width: 50%;
	margin-bottom: 5px;
}
.columna-5 {
	float: left;
	width: 41.66666666666667%;
	margin-bottom: 5px;
}
.columna-4 {
	float: left;
	width: 33.33333333333333%;
	margin-bottom: 5px;
}
.columna-3 {
	float: left;
	width: 25%;
	margin-bottom: 5px;
}
.columna-2 {
	float: left;
	width: 16,66666666666666667%;
	margin-bottom: 5px;
}
.columna-1 {
	float: left;
	width: 8,333333333333333%;
	margin-bottom: 5px;
}
